codecov>=2.0
coverage>=4.3
flake8>=3.2
packaging>=16.8
unittest2>=1.1
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
